<div class="ui segment" id="chart"></div>
<script>
  const data = {
    labels: [
      {{#each reading.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", type: "line",
        values: [
          {{#each reading.tempTrend}}
            {{this}},
          {{/each}}
        ]
      },
      {
        name: "Pressure", type: "line",
        values: [
          {{#each reading.pressureTrend}}
            {{this}},
          {{/each}}
        ]
      },
      {
        name: "Wind Direction", type: "line",
        values: [
          {{#each reading.windDirectionTrend}}
            {{this}},
          {{/each}}
        ]
      },
      {
        name: "WindSpeed", type: "line",
        values: [
          {{#each reading.windTrend}}
            {{this}},
          {{/each}}
        ]
      }
    ]
  };

  const chart = new frappe.Chart("#chart", {

    title: " Weather Trend Chart",
    data: data,
    type: "line",
    height: 280,
    colors: ["red", "purple", "orange", "green"],
    lineOptions: {
      dotSize: 6, // default: 4
      regionFill: 1// default: 0
    }
  });

</script>